[submodule "pet-classifier-model-service"]
	path = pet-classifier-model-service
	url = git@github.com:npragin/pet-classifier-model-service.git
	branch = main
[submodule "pet-classifier-data-ingestor"]
	path = pet-classifier-data-ingestor
	url = git@github.com:npragin/pet-classifier-data-ingestor.git
	branch = main
[submodule "pet-classifier-web-frontend"]
	path = pet-classifier-web-frontend
	url = git@github.com:npragin/pet-classifier-web-frontend.git
	branch = main
[submodule "pet-classifier-results-service"]
	path = pet-classifier-results-service
	url = git@github.com:npragin/pet-classifier-results-service.git
	branch = main
